
.card {
    padding-top: 15px;
    margin: 10px;
    border-radius: 15px;
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
    
}

.container-fluid  {
    overflow-x: scroll;
}



.card-text {
    padding-top: 12px;
    padding-bottom: 12px;
}

.title {
    margin-left: 5px;


}