.cardsinglecharacter {
    margin: 15px;
   ;}

.card-title {
    margin-bottom: 15px;
    
}

.card-body {
    margin: 10px;
}

.img-fluid {
    margin-left: 15px;
       width: 100%;
       height: 100%;
   }
